
<h2 data-sly-test="${!properties.bilder && !publishMode}" style="color: red;">Bitte den Slider konfigurieren!</h2>


<div data-sly-use.slider="myPackage.core.models.SliderModel" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol data-sly-list.sliderEL="${slider.sliderElements}" class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="${itemList.index}" class="${sliderEl.cssClass}"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div data-sly-repeat.sliderEL="${slider.sliderElements}" class="${sliderEl.cssClass} carousel-item">
            <img class="d-block img-fluid" src="${sliderEl.path}" alt="${sliderEl.alt}">
            <div class="carousel-caption d-none d-md-block" data-sly-test="${sliderEl.hasText}">
                ${sliderEl.headLine @context='html'}
                ${sliderEl.text @context='html'}
            </div>
        </div>
    </div>

    <sly data-sly-test="${properties.arrows}">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </sly>
</div>